#############
## Python
#############

*.pyc

#############
## Apple Files
#############

.DS_STORE

#############
## Virtual Environment
#############

venv/


#############
## Data Base
#############

sqlite3