{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block sidebarTitle %}
Site Structure
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Flight Planner</h3>
  </div>
  <div class="panel-body">
<li><a href="/flight_planner/plane_setup">Plane Setup</a></li>
<li><a href="/flight_planner/geographical_setup">Geographical Setup</a></li>
<li><a href="/flight_planner/route_preview">Route Preview</a></li>
<div class="hr"></div>
<li><a href="/flight_planner">Plan Flight</a></li>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Flight Diagnostics</h3>
  </div>
  <div class="panel-body">
<li><a href="/flight_diagnostics/route_analysis">Route Analysis</a></li>
<li><a href="/flight_diagnostics/data_feed">Data Feed</a></li>
<li><a href="/flight_diagnostics/flight_results">Flight Results</a></li>
<div class="hr"></div>
<li><a href="/flight_diagnostics">Diagnose Flight</a></li>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Control Panel</h3>
  </div>
  <div class="panel-body">
<li><a href="/control_panel/user_settings">User Settings</a></li>
<li><a href="/control_panel/plane_configuration">Plane Configuration</a></li>
<li><a href="/control_panel/location_services">Location Services</a></li>
<div class="hr"></div>
<li><a href="/control_panel/flight_archive">Flight Archive</a></li>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>This site is concerned with the collection of atmospheric data using a UAV</p>
  </div>
</div>
	<p>This is a site designed for the planning and deployment of unmanned arial vehicles in the quest to collect ato#mospheric data in the most efficient manor</p>
	<p>Explore the site either using the links on the left or the navbar at the top of the screen</p>
{% endblock %}

{% block footer %}
Footer
{% endblock %}