{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block navTitle %}
Navigation
{% endblock %}

{% block sidebar %}
<li>Sidebar</li>
<li class="active"><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li>Sidebar</li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li>Sidebar</li>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
{% endblock %}

{% block content %}
<h1>{{content}}</h1>
{% endblock %}

{% block footerContent %}
TEST
{% endblock %}