{% extends "flight_planner_base.html" %}

{% block subTitle %}
Index
{% endblock %}

{% block style %}
<link href="/static/css/geographical_setup.css" rel="stylesheet" >
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
<script type="text/javascript" src="/static/js/geographical_setup.js"></script>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div id="map_canvas" style="height:100%"></div>
<input type="hidden" id="mapCenter" value="{{mapCenter}}"/>
<input type="hidden" id="markerData" value="{{markerData|safe}}" />
{% endblock %}

{% block footer %}
<div class="pull-right" id="footer-button">
	<a href="/flight_planner/plane_setup"><button type="button" class="btn btn-default">Back</button></a>
	<a href="/flight_planner/geographical_area"><button type="button" class="btn btn-primary">Next</button></a>
</div>
{% endblock %}